.grid-container{
    display: grid;
    background-color: cornsilk;
    grid-template-columns: auto auto auto;
    /* gap: 20px; define el espacion entre cada columna o fila  se utilizan segun la nececidad
    column-gap: 40px;
    row-gap: 20px;
    */
    gap: 20px;
    grid-auto-rows: auto auto auto;
    


}

.grid-container>div{
    text-align: center;
    background-color: crimson;
    color: white;
    border: 1px solid black;
}