table{
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
    border: 1px solid gray;
}

td{
    font-size: 11px;
    text-align: center;
}

.formulario{
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

